<!-- Contact Section -->
<h2 class="section-title">Contact Me</h2>
<div class="contact-content">

  <!-- Personal Details -->
  <div class="contact-details">
    <h3 class="details-title">Get in Touch</h3>
    <div class="contact-info">
      <div class="contact-item">
        <span class="contact-label">Email:</span> 
        <a href="mailto:bismahumanyun@gmail.com" class="contact-value">  bismahumanyun&#64;gmail.com</a>
      </div>
      <div class="contact-item">
        <span class="contact-label">Phone:</span> 
        <a href="tel:+14372552174" class="contact-value">  +1 (437) 255-2174</a>
      </div>
      <div class="contact-item">
        <span class="contact-label">LinkedIn:</span> 
        <a href="https://www.linkedin.com/in/bismahumanyun" target="_blank" class="contact-value">  /in/bismahumanyun</a>
      </div>
      <div class="contact-item">
        <span class="contact-label">GitHub:</span> 
        <a href="https://github.com/bismahumanyun" target="_blank" class="contact-value">  github/bismahumanyun</a>
      </div>
    </div>
  </div>
 
    <!-- Google Map -->
  <div class="contact-map">
    <h3 class="details-title">Find Me Here</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.871139478302!2d-79.65221932470743!3d43.713226948547714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3bf7dcee069f%3A0x95b090196d3233c0!2s7348%20Manion%20Rd%2C%20Mississauga%2C%20ON%20L4T%202K6%2C%20Canada!5e0!3m2!1sen!2sae!4v1740697593683!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div>
</div>
